# Virtual Environment
.venv/
venv/
env/
ENV/

# Python caching
__pycache__/
*.py[cod]
*$py.class

# IDE configurations
.vscode/
.idea/

# Streamlit specific
.streamlit/config.toml

# Environment variables / Credentials
.env
*.secret
credentials.json

# Local databases
*.db
*.sqlite